body {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
}

#BoxMilieu {
    padding: 50px;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid;
    border-radius: 100px;
}

h1 {
    font-size: 40px;

    margin-bottom: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}



.FormDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    margin: 10px;
}

label {
    font-size: 30px;
}

input {
    height: 51.2px;
    width: 400px;
    border: solid;
    font-size: 35px;
}

#DivBas {
    width: 100%;
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
}

button {
    border-radius: 40%;
    border: solid;
    height: 100px;
    width: 300px;
    font-size: 30px;
}
