body {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}

header {
    position: fixed;
    width: 100%;
    background-color: #d9d9d9;
    display: block;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#DivLogoBarre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Logo {
    margin: 20px;
    width: 150px;
    height: 150px;
}

#DivBarreRecherche {
    display: flex;
    align-items: center;
    margin-right: 75px;
    background-size: contain;
    background-color: white;
    border-style: solid;
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
}

button {
    margin-right: 5px;
    margin-left: 5px;
}

#Recherche {
    height: 51.2px;
    width: 51.2px;
    background-image: url("../../ressources/loupe.png");
    background-size: 100%;
    background-position: center;
    background-color: white;
    border: none;
}

#BarreRecherche {
    height: 51.2px;
    width: 400px;
    border: none;
    font-size: 35px;
}

#EffacerRecherche {
    background-image: url("../../ressources/croix.png");
    height: 51.2px;
    width: 51.2px;
    background-size: 100%;
    background-position: center;
    background-color: white;
    border: none;
}

#FiltrerRecherche {
    background-image: url("../../ressources/filtre.png");
    height: 51.2px;
    width: 51.2px;
    background-size: 100%;
    background-position: center;
    background-color: white;
    border: none;
}

h1 {
    border-top-style: solid;
    border-bottom-style: solid;
    text-align: center;
    font-size: 40px;
    padding: 30px;
    margin-bottom: 0;
}

#ContenuPage {
    position: absolute;
    top: 330px;
    padding-bottom: 150px;
}

#BoutonCreerPost {
    position: fixed;
    background-image: url("../../ressources/plus.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 102.4px;
    width: 102.4px;
    border: solid;
    background-color: #d9d9d9;
    margin: 20px;
    border-radius: 50px;
}

footer {
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    position: fixed;
    border-top-style: solid;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-around;
}

#BoutonHome {
    background-image: url("../../ressources/home_red.png");
    background-size: 100%;
    background-position: center;
    height: 102.4px;
    width: 102.4px;
    border: none;
    background-color: #d9d9d9;
    margin: 20px;
}

#BoutonLeaderboard {
    background-image: url("../../ressources/leaderboard.png");
    background-size: 100%;
    background-position: center;
    height: 102.4px;
    width: 102.4px;
    border: none;
    background-color: #d9d9d9;
    margin: 20px;
}

#BoutonProfil {
    background-image: url("../../ressources/profil.png");
    background-size: 100%;
    background-position: center;
    height: 102.4px;
    width: 102.4px;
    border: none;
    background-color: #d9d9d9;
    margin: 20px;
}

#post {
    background: #fce9d8;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;

}

#imgProfil {
    border-radius: 50%;
    width: 50px;
}

#UpVoteBouton {
    width: 50px;
    height: 50px;
    background-color: #fce9d8;
    background-image: url("../../ressources/fleche-vers-le-haut-remplie.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#DownVoteBouton {
    width: 50px;
    height: 50px;
    background-color: #fce9d8;
    background-image: url("../../ressources/fleche-vers-le-bas.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#CommentaireBouton {
    width: 50px;
    height: 50px;
    background-color: #fce9d8;
    background-image: url("../../ressources/commentaire.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}