header {
    background-color: #d9d9d9;
    display: flex;
}

body {
    margin: 0px;
    padding: 0px;
}

#Logo {
    
    width: 50px;
    height: 50px;
}

#EffacerRecherche {
    background-image: url("../ressources/croix.png");
    height: 51.2px;
    width: 51.2px;
    max-width: 51.2px;
    max-height: 51.2px;
    background-size: 51.2px;
    background-position: center;
}
